body{
  background-image: url("./img/background-form.jpg");
  
}




.body-form{
  text-align: center;
  color: aliceblue;
  background-image: url("./img/background-form.jpg");
}

h1{
  font-weight: bold;
}


.container {
  display:grid;
  width:1500px;
  height: 450px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;

  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  transition: 0.3s;
  
  text-align: center;
  padding: 15px 15px 15px 15px;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.post p {
  font-size: 20px;
}
.post h4 {
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height:60px;
  font-size: 25px;
}
.card img{

  height: auto;
  width: auto;
  
}