input{
    background: transparent;
    color: aliceblue;
    padding: 5px;
    font-weight: bold;
}

img{
    height: 50px;
    width: 50px;
    padding: 5px;
}

.body-form{
    text-align: center;
    color: aliceblue;
    background-image: url("./img/background-form.jpg");
}

h1{
    font-weight: bold;
}

