body {
  background-image: url('img/background-form.jpg');
}

h1 {
  text-align: center;
}

.baseContainer {
  background-color: whitesmoke;
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  padding: 2% 5%;
}

img {
  width: 100%;
}

.baseContainer,
img {
  border-radius: 5px;
}

.indexContainer p {
  text-align: justify;
  padding: 5px 0;
  line-height: 1.8em;
}