 .body-form{
     text-align: center;
     color: aliceblue;
     background-image: url("./img/background-form.jpg");
 }
 .indexHeader {
     text-align: center;
     color: black;
 }
 .indexImageContainer {
     width: 80%;
     margin: 0 auto;
     align-content: center;
     background-color: whitesmoke;
     padding: 5%;
     border-radius: 2%;
 }
 .indexBody {
     background-color: darkgray;
 }

 .indexContainer {
     background-color: white;
     border-radius:5px;
     padding: 20 10;
 }

 .indexImage {
     border-radius: 1%;
 }
 .indexSubtitle {
     text-align: center;
     font-style: italic;
 }
 .indexH2 {
     text-align: center;
     width: 100%;
     margin: 10 auto;
 }
 .indexPharagraph {
     width: 80%;
     text-align: justify;
     margin: 0 auto;
 }